@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Used technologies and libraries</h2>
    <ul>
        <li>ASP.NET MVC 5</li>
        <li>EntityFramework 6</li>
        <li>Bootstrap 3</li>
        <li>AngularJS 1</li>
        <li>Autofac (for dependency injection)</li>
        <li>NLog (for logging)</li>
        <li>AutoMapper (for mapping entities)</li>
        <li>SignalR (for live notifications)</li>
    </ul>
</div>